<style>
   p { 
  color:#b0b0f4;
  font-size:18px;
  font-familty:Cooper;
  font-style:normal;
  font-weight:bold;
}
h5 {
  color:red;
  text-decoration:underline;
}
*{
 color: #26ff99;
}
.b{
    color:#311663;
} 	
.pk {
  color:#02f6ff;

}

div,ul,li{
  font-weight:bold;
  color:#10332c;
}
ul,li
{font-weight:bold;
  font-color:violet;


}


p{
    text-align:center;
    text-indent:50 px;
    word-spacing:3 em;
    line-height:2 em;
}

h4 {
  color:red;
  text-decoration:underline;
}
a:link {
    color: green; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
h2{
	font-style: oblique;
	color: #ff0043;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}
h1{
	color: #00c7ff;
	background-color: #1d3001;
	text-decoration: overline;
}
</style>